/**
 * Wrapper
 */
.wrapper {
  max-width: $main-max-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: $main-padding-horizontal;
  padding-left: $main-padding-horizontal;
  @extend %clearfix;

  @include large {
    max-width: $main-max-width;
    padding: 0rem $main-padding-horizontal;
    margin: 0 auto;
    font-size: 1.1rem;
  }

  @include medium {
    padding: 0rem 4rem;
    font-size: 1.1rem;
  }

  @include small {
    padding: 0rem 1rem;
    font-size: 1rem;
  }
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}
